code {
  color: $color-caribbean-green;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  padding: 1px 3px;
  margin: -1px;
}

a code {
  color: $color-baby-blue;
}

pre {
  color: $color-caribbean-green;
  margin: 0;
}