.sprinkles {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 72rem;
  width: calc(100% - 2rem);
  gap: 1rem;
  flex: 0 0 auto;
  padding: 1rem;
  margin: 0 auto;
}

.sprinkles__header {
  flex: 1 0 auto;
  max-height: 4rem;

  &--hero {
    max-height: 16rem;
  }
}

.sprinkles__footer {
  flex: 0 0 auto;
  max-height: 2rem;
}

.sprinkles__content {
  flex: 1 1 auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
}

.sprinkles__content__aside {
  order: 2;
}

.sprinkles__content__main {
  order: 1;
}

@media (min-width: 48em) {
  .sprinkles__content {
    flex-direction: row;
  }

  .sprinkles__content__aside {
    width: 16rem;
    order: 1;
  }

  .sprinkles__content__main {
    width: 52rem;
    order: 2;
  }
}