#sprinkles div {
  position: absolute;
  width: 10px;
  height: 30px;
  z-index: -1;
  border-radius: 40px;
}

.sprinkles {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 60em;
  width: calc(100% - 20vw);
  gap: 1rem;
  flex: 0 0 auto;
  padding: 1rem;
  margin: 0 auto;
}

.sprinkles__header {
  flex: 1 0 auto;
  max-height: 4rem;
  padding: 1rem;

  a {
    background-color: $color-black-fogra;
    padding: 0 .5rem;
  }

  &--hero {
    max-height: 16rem;
  }
}

.sprinkles__footer {
  flex: 0 0 auto;
  max-height: 2rem;
}

.sprinkles__content {
  flex: 1 0 auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  * {
    flex: 1 1 auto;
  }
}

.sprinkles__content__aside {
  order: 2;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.sprinkles__content__main {
  order: 1;
}

@media (min-width: 60em) {
  .sprinkles__content {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 10em fit-content(50em);
  }

  .sprinkles__content__aside {
    order: 1;
  }

  .sprinkles__content__main {
    order: 2;
  }
}