<div id="sprinkles"></div>

<script>
  const desktop = window.matchMedia('(min-width: 42em)').matches;
  const createSprinkles = (number) => {
    const sprinkles = document.querySelector('#sprinkles');
    for(let i = 0; i < number; i++) {
      let sprinkle = document.createElement('div');
      sprinkle.id = `s${i}`;
      sprinkle = styleSprinkle(sprinkle);
      sprinkles.append(sprinkle);
    }
  }

  const styleSprinkle = (el) => {
    let x = randomNumber(0, document.body.clientWidth);
    let y = randomNumber(0, document.body.clientHeight);
    const deg = randomNumber(-60, 60);
    const color = randomHsl();
    
    el.style.background = `linear-gradient(to right, ${color} 0%, #33333333 100%)`;
    el.style.transform = `translate(${x}px, ${y}px) rotate(${deg}deg)`;
    return el;
  }
    
  const randomNumber = (min, max) => {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min) + min);
  }

  const randomHsl = () => `hsla(${Math.random() * 360}, 100%, 70%, .5)`;

  setTimeout(() => createSprinkles(50));
</script>