---
title: ✨ Sprinkles of JS ✨
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;1,400;1,600&family=Lora:wght@500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    {% include '_sprinkles.njk' %}
    <div class="sprinkles">
    {{ content | safe }}
    <footer class="sprinkles__footer">
      {% include '_footer.njk' %}
    </footer>
  </body>
</html>