---
layout: index.njk
---
<header class="sprinkles__header">
  <div class="split">
    <div>
      <a href="/" class="text text--emoji">🧁 <span class="sr-only">Sprinkles of JS</span></a>
    </div>
    <div>
      <nav class="h-list">
        <a href="/search">Search</a>
        <a href="https://github.com">Github</a>
      </nav>
    </div>
  </div>
</header>
<h1>Search for ✨</h1>

{% include '_search.njk' %}