details {
  margin-bottom: 1rem;
  border: 1px solid $color-paradise-pink;

  &[open] {
    summary {
      border-top-right-radius: .5em;
      border-top-left-radius: .5em;
    }
  }

  &:not([open]) {
    summary {
      border-radius: .5em;
    }
  }

  summary {
    padding: 0 1rem;
    cursor: pointer;
    background-color: $color-black-fogra;
    color: $color-laser-lemon;
  }

  pre {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
  }
}