.input {
  .input__label {
    color: $color-caribbean-green;
    font-size: 1.25rem;
  }

  input {
    appearance: none;
    background: transparent;
    color: $color-laser-lemon;
    border: 1px solid $color-caribbean-green;
    border-radius: 4px;
    height: 4ex;
    width: 100%;
    padding: .5rem;
    font-size: 1.125rem;
  }

  input:focus {
    outline: 2px solid $color-laser-lemon;
    border-radius: 0;
  }

  &--small {
    .input__label {
      position: absolute;
      left: -9999px;
      width: 0;
      height: 0;
    }

    input {
      height: 4ex;
      padding: 0;
    }
  }
}

@media (prefers-color-scheme: light) {
  .input {
    .input__label {
      color: $color-sea-green;
    }

    input {
      border-color: $color-sea-green;
      color: $color-black-fogra;
    }

    input:focus {
      outline-color: $color-sea-green;
    }
  }
}