a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: $color-baby-blue;

  &:focus {
    outline: 1px solid $color-laser-lemon;
    outline-offset: 2px;
  }

  &:hover {
    color: $color-hot-pink;
  }
}

.text {
  &--pink {
    color: $color-hot-pink;
  }

  &--emoji {
    text-decoration: none;
    font-size: 3rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}