a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: $color-baby-blue;

  &:focus {
    outline: 1px solid $color-laser-lemon;
    outline-offset: 2px;
  }

  &:hover {
    color: $color-hot-pink;
  }
}

.text {
  &--pink {
    color: $color-hot-pink;
  }
}