/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in color-tokens.js
 */

$color-gunmetal: #30343f !default;
$color-on-gunmetal: #989CA5 !default;
$color-ghost-white: #fafaff !default;
$color-on-ghost-white: #73737D !default;
$color-lavender: #e4d9ff !default;
$color-on-lavender: #6A5992 !default;
$color-space: #273469 !default;
$color-on-space: #969FC2 !default;
$color-better-space: #1e2749 !default;
$color-on-better-space: #868FAD !default;
$color-corn: #f7ec59 !default;
$color-on-corn: #716A12 !default;
$color-red-salsa: #f93943 !default;
$color-on-red-salsa: #460003 !default;
$color-persian-green: #339989 !default;
$color-on-persian-green: #0B2908 !default;

$color-tokens: (
  "color-gunmetal": $color-gunmetal,
  "color-on-gunmetal": $color-on-gunmetal,
  "color-ghost-white": $color-ghost-white,
  "color-on-ghost-white": $color-on-ghost-white,
  "color-lavender": $color-lavender,
  "color-on-lavender": $color-on-lavender,
  "color-space": $color-space,
  "color-on-space": $color-on-space,
  "color-better-space": $color-better-space,
  "color-on-better-space": $color-on-better-space,
  "color-corn": $color-corn,
  "color-on-corn": $color-on-corn,
  "color-red-salsa": $color-red-salsa,
  "color-on-red-salsa": $color-on-red-salsa,
  "color-persian-green": $color-persian-green,
  "color-on-persian-green": $color-on-persian-green
) !default;

@mixin color-tokens() {
  --color-gunmetal: #{$color-gunmetal};
  --color-on-gunmetal: #{$color-on-gunmetal};
  --color-ghost-white: #{$color-ghost-white};
  --color-on-ghost-white: #{$color-on-ghost-white};
  --color-lavender: #{$color-lavender};
  --color-on-lavender: #{$color-on-lavender};
  --color-space: #{$color-space};
  --color-on-space: #{$color-on-space};
  --color-better-space: #{$color-better-space};
  --color-on-better-space: #{$color-on-better-space};
  --color-corn: #{$color-corn};
  --color-on-corn: #{$color-on-corn};
  --color-red-salsa: #{$color-red-salsa};
  --color-on-red-salsa: #{$color-on-red-salsa};
  --color-persian-green: #{$color-persian-green};
  --color-on-persian-green: #{$color-on-persian-green};
}