/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in color-tokens.js
 */

$color-black-fogra: #0a0908 !default;
$color-on-black-fogra: #797876 !default;
$color-baby-blue: #6ccff6 !default;
$color-on-baby-blue: #1D576E !default;
$color-paradise-pink: #ef476f !default;
$color-on-paradise-pink: #460414 !default;
$color-laser-lemon: #f7ff58 !default;
$color-on-laser-lemon: #717611 !default;
$color-caribbean-green: #06d6a0 !default;
$color-on-caribbean-green: #47502D !default;
$color-hot-pink: #ff66b3 !default;
$color-on-hot-pink: #64153D !default;

$color-tokens: (
  "color-black-fogra": $color-black-fogra,
  "color-on-black-fogra": $color-on-black-fogra,
  "color-baby-blue": $color-baby-blue,
  "color-on-baby-blue": $color-on-baby-blue,
  "color-paradise-pink": $color-paradise-pink,
  "color-on-paradise-pink": $color-on-paradise-pink,
  "color-laser-lemon": $color-laser-lemon,
  "color-on-laser-lemon": $color-on-laser-lemon,
  "color-caribbean-green": $color-caribbean-green,
  "color-on-caribbean-green": $color-on-caribbean-green,
  "color-hot-pink": $color-hot-pink,
  "color-on-hot-pink": $color-on-hot-pink
) !default;

@mixin color-tokens() {
  --color-black-fogra: #{$color-black-fogra};
  --color-on-black-fogra: #{$color-on-black-fogra};
  --color-baby-blue: #{$color-baby-blue};
  --color-on-baby-blue: #{$color-on-baby-blue};
  --color-paradise-pink: #{$color-paradise-pink};
  --color-on-paradise-pink: #{$color-on-paradise-pink};
  --color-laser-lemon: #{$color-laser-lemon};
  --color-on-laser-lemon: #{$color-on-laser-lemon};
  --color-caribbean-green: #{$color-caribbean-green};
  --color-on-caribbean-green: #{$color-on-caribbean-green};
  --color-hot-pink: #{$color-hot-pink};
  --color-on-hot-pink: #{$color-on-hot-pink};
}